<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <div class="popup__top">
      <div class="popup__image">
        <picture>
          <source srcset="img/trainer-1.avif" type="image/avif">
          <source srcset="img/trainer-1.webp" type="image/webp">
          <img loading="lazy" src="img/trainer-1.jpg" class="image" width="160" height="222" alt="Марина Орлова">
        </picture>
      </div>
      <div class="popup__info">
        <div class="popup__name">Марина Орлова</div>
        <div class="popup__post">преподаватель по робототехнике</div>
      </div>
    </div>
  </div>
</div>
